body, html {
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
    background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: white;
}

.logo {
    height: 31px; 
    width: 31px;
}

.project-name {
    font-size: 24px;
    color:#716966
}

.menu-icon {
    font-size: 24px;
}

.options-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    padding-top:35px;
    padding-bottom:25px;
    border-top:1px solid #f1f1f1;
}


.option i {
    display: block;
    margin: auto;
    font-size: 16px; /* Since icons in figma all have diff size for simplicity i kept same for all */
}


.vector-parent {
    position: relative; 
    display: inline-block; 
    width: fit-content; 
    height: fit-content; 
    margin-bottom: 8px; 
}

.vector-icon1, .vector-icon2 {
    position: absolute;
    
}

.map-align{
    top:5px;
    left:5px;
}
.option span  {
    font-size: 8px;
    display: block;
    margin-top: 18px;
}
.selected-option{
    color:#E0A64E
}
.option-map{
    padding-right:40px;
}



.options-bar .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.options-bar .option .vector-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.options-bar .option .vector-parent img {
    width: auto; 
    height: auto; 
}

.options-bar .option span {
    font-size: 8px;
    color: #000; 
    text-align: center;
    display: block;
}



/* Section 3 */







.contact-info-box {
    display: flex;
    padding: 20px;
    padding-left:25px;
    background: white;
    
    border-top:1px solid #f1f1f1;
}
/*coloring odd even boxes*/
.contact-info-box:nth-child(odd) {
    background-color: #FFFCF2;
}

.contact-info-box:nth-child(even) {
    background-color: #FFFFFF;
}
 
.info-content {
    width: 80%;
    padding-right: 20px; 
    border-right: 2px solid #f1f1f1e0; 
}

.name {
    font-size: 18px;
    margin: 0;
}

.ratings {
    padding-top: 4px;
    font-size: 15px;
}

.description {
    font-size: 10px;
    color: black;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding-right: 20px; 
}
.stats > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.number {
    font-size: 24px;
    font-weight: 700;
    padding-top:15px
}

.label {
    font-size: 10px;
    display: block;
    font-weight: 700;
}

.phone-numbers {
    font-size: 16px;
    font-weight: 500;
    padding-top:30px
}

.action-icons {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right:10px;
    margin-top:-15px;
    margin-bottom:-10px;
    margin-right:-20px;
}
.action-icons .vector-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:10px
}

.action-icons  span  {
    font-size: 8px;
    display: block;
    color:#8D4337;
    margin-top:1px;
    text-align: center;
}
.action-icons .vector-parent img {
    width: 20px; 
    height: 20px; 
}

